<a href="https://colab.research.google.com/github/faridah-m/Amazon_Vine_Analysis/blob/main/Vine_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
vine_df = pd.read_csv('Vine_Table.csv') 
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R9CO86UUJCAW5,3.0,0.0,0.0,N,Y
1,R3PR8X6QGVJ8B1,5.0,0.0,0.0,N,Y
2,R39BO2819ABUPF,4.0,0.0,0.0,N,Y
3,R3ADL7V6EGGEEP,4.0,0.0,0.0,N,Y
4,R1OXYPBPLVRMI5,5.0,0.0,0.0,N,Y

In [ ]:
df = vine_df[vine_df.total_votes > 20]
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348621,RWO8RAQ8QBXID,1.0,4.0,37.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [ ]:
helpful_votes_df = df[(((df.helpful_votes)/df.total_votes)*100) > 50]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [ ]:
vine_yes_df = helpful_votes_df[helpful_votes_df.vine == "Y"]
vine_yes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19527,RPJ7C4HP3BHXN,5.0,25.0,29.0,Y,N
21361,R3SB08XK0M7993,4.0,44.0,49.0,Y,N
33098,R26X1DACMCN3YF,3.0,16.0,21.0,Y,N
38418,R17HKKDE9ZRVOO,4.0,31.0,35.0,Y,N
39255,R1R7GNSCMO8U7I,4.0,24.0,28.0,Y,N
40555,R2T83WIPG3IX5D,4.0,72.0,76.0,Y,N
44926,RD006IWFCUA5A,5.0,122.0,133.0,Y,N
64738,REOQCBUVUPXP1,4.0,23.0,27.0,Y,N
65596,R2336R80ZEOKTX,5.0,63.0,63.0,Y,N
65750,RC1ZXE5GVL9TA,4.0,20.0,23.0,Y,N
65953,R2J7WSJ8EX3D5S,5.0,30.0,32.0,Y,N
66906,R2QSLH5GY4OMNH,5.0,44.0,45.0,Y,N
67955,R2A0F7MYQGBPEG,4.0,33.0,40.0,Y,N
69191,R140DK42LYQWL,4.0,62.0,65.0,Y,N
69653,R3HJAGVD491IFV,5.0,105.0,105.0,Y,N
71245,R2N6KZ8A8T26IR,1.0,24.0,26.0,Y,N
73268,R2AUGMTZKSPJST,5.0,19.0,21.0,Y,N
114233,R1C3PCFS00UHBA,5.0,25.0,26.0,Y,N
172131,RY1C7QLDFKZPG,5.0,26.0,26.0,Y,N
190812,R1O5J8O83PI4Q,4.0,24.0,24.0,Y,N
191376,R1MZ7RY5264PE4,5.0,38.0,38.0,Y,N

In [ ]:
number_reviews_yes = vine_yes_df.count()
number_reviews_yes

review_id            21
star_rating          21
helpful_votes        21
total_votes          21
vine                 21
verified_purchase    21
dtype: int64

In [ ]:
five_star_reviews_yes = vine_yes_df[vine_yes_df.star_rating == 5].count()
five_star_reviews_yes

review_id            10
star_rating          10
helpful_votes        10
total_votes          10
vine                 10
verified_purchase    10
dtype: int64

In [ ]:
five_star_percentage_yes = (five_star_reviews_yes.vine/number_reviews_yes.vine)*100
five_star_percentage_yes

47.61904761904761

In [ ]:
vine_no_df = helpful_votes_df[helpful_votes_df.vine == "N"]
vine_no_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [ ]:
number_reviews_no = vine_no_df.count()
number_reviews_no

review_id            6305
star_rating          6305
helpful_votes        6305
total_votes          6305
vine                 6305
verified_purchase    6305
dtype: int64

In [ ]:
five_star_reviews_no = vine_no_df[vine_no_df.star_rating == 5].count()
five_star_reviews_no

review_id            3265
star_rating          3265
helpful_votes        3265
total_votes          3265
vine                 3265
verified_purchase    3265
dtype: int64

In [ ]:
five_star_percentage_no = (five_star_reviews_no.vine/number_reviews_no.vine)*100
five_star_percentage_no

51.78429817605076